/* Основные стили */

body {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #ffffff;
    border-top: #ffffff;
    font-family: "Onest-Regular", sans-serif;
}


/* Основное */

.pageError {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recError {
    color: #DB284D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rec404 {
    font-size: 14vw;
    color: #DB284D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textError1 {
    color: #DB284D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textError2 {
    height: 5vw;
    color: #DB284D;
    display: flex;
    align-items: bottom;
    justify-content: center;
}


/* Кнопка */

.buttonErrorRec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonError  {
    height: 7.7vw;
    width: 33vw;
    color: #ffffff;
    background-color: #DB284D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    border: 0.3vw solid #DB284D;
    transition: all 0.3s ease;
}

.buttonError a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.9vw;
    margin: 0;
    transition: color 0.3s ease;
}

.buttonError:hover {
    background-color: white;
    border-color: #DB284D;
}

.buttonError:hover a {
    color: #DB284D;
}