/* Меню */

#menu5_5 {
    height: 8vw;
    color: #ffffff;
    background-color: #DB284D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#menu1_5, #menu2_5, #menu3_5, #menu4_5, #menu6_5 {
    height: 8vw;
    color: #2A4378;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


/* Основное */

.filling_5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0.3vw;
    border-top: 0.3vw solid #DB284D;
    background-color: #DB284D;
}


/* Элементы */

.gameFilling-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #DB284D;
}

.gameFilling {
    display: flex;
    width: max-content;
    will-change: transform;
}

.gameElement {
    flex: 0 0 auto;
    width: 14.2vw;
}

.element, .element2 {
    height: 14.35vw;
    width: 100%;
    object-fit: contain;
    display: block;
}

@keyframes smoothScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.gameFilling {
    animation: smoothScroll 20s linear infinite;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.gameFilling:hover {
    animation-play-state: paused;
}