/* Меню */

#menu1 {
    /* min-width: 100px; */
    height: 8vw;
    color: #ffffff;
    /* background-color: #DB284D; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#menu2, #menu3, #menu4, #menu5, #menu6 {
    /* min-width: 100px; */
    height: 8vw;
    color: #2A4378;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


/* Текст */

.textMain {
    height: 29.9vw;
    background-color: #FBD941;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: left; */
    padding: 1vw;
}


/* Основное */

.filling {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    gap: 0.3vw;
    border-top: 0.3vw solid #DB284D;
    border-bottom: 0.3vw solid #DB284D;
    background-color: #DB284D;
}

.mockup1 {
    height: 31.8vw;
}


/* Цветы */

.blinkingFlowers {
    /* height: 28vw; */
    background-color: #DB284D;
}

.blinkingFlower1 {
    height: 16.55vw;
    margin-top: 0.3vw;
}

.blinkingFlower2 {
    height: 16.55vw;
    margin-top: 0.3vw;
    margin-left: 0.1vw;
}

.picPosterMain {
    height: 41vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration {
    height: 41vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* line-height: 200%; */
}

.regTitle {
    font-size: 1.6vw;
    font-weight: bold;
    line-height: 400%;
    margin-top: -3vw;
}

form {
    line-height: 130%;
}

.registration form input[type="text"] { 
    margin-top: 100vw;
}

.registration form input[type="plate"] {
    height: 4vw;
    width: 28vw;
    background-color: #D9D9D9;
    color: #000000;
    display: flex;
    align-items: bottom;
    justify-content: center;
    border: none;
}

.registration form input#submit {
    height: 4vw;
    width: 28vw;
    font-size: 1.6vw;
    font-weight: bold;
    background-color: #FBD941;
    color: #000000;
    display: flex;
    align-items: bottom;
    justify-content: center;
    border: none;
}

.more {
    height: 41vw;
    /* border: 0.3vw solid #DB284D; */
}

.spaceM {
    height: 16.5vw;
}

.eventM{
    height: 24.2vw;
    margin-top: 0.15vw;
}



