/* Меню */

#menu1 {
    height: 8vw;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#menu2, #menu3, #menu4, #menu5, #menu6 {
    height: 8vw;
    color: #2A4378;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


/* Текст */

.textMain {
    height: 29.85vw;
    background-color: #FBD941;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1vw;
}

.textMain p {margin-left: 1vw;}


/* Основное */

.filling {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    gap: 0.3vw;
    border-top: 0.3vw solid #DB284D;
    border-bottom: 0.3vw solid #DB284D;
    background-color: #DB284D;
}

.mockup1 {height: 31.8vw;}


/* Цветы */

.blinkingFlowers {
    background-color: #DB284D;
    border-top: 0.35vw solid #DB284D;
    display: flex;
    gap: 0.3vw;
    flex-wrap: nowrap;
    margin-top: -0.1vw;
    position: relative;
}

.blinkingFlower1, .blinkingFlower2 {
    height: 16.6vw;
    animation: fadeOut 2s infinite ease-in-out;
}

.blinkingFlower1 {animation-delay: 0s;}

.blinkingFlower2 {
    margin-left: 0.1vw;
    animation-delay: 1s;
}

@keyframes fadeOut {
    0%, 50% {
        opacity: 1;
    }
    60%, 100% {
        opacity: 0;
    }
}


/* Постер */

.picPosterMain {
    height: 41vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -0.2vw;
}


/* Регистрация */

.registration {
    height: 41vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -0.2vw;
}

.regTitle {
    font-size: 1.6vw;
    font-weight: bold;
    line-height: 6vw;
    margin-top: -2vw;
}

form {line-height: 1.2vw;}

.registration input {font-size: 1.6vw;}

.registration form input[type="plate"] {
    height: 4vw;
    width: 28vw;
    background-color: #D9D9D9;
    color: #000000;
    display: flex;
    align-items: bottom;
    justify-content: center;
    border: none;
}

.registration form input#submit {
    height: 4vw;
    width: 28vw;
    font-size: 1.6vw;
    font-weight: bold;
    background-color: #FBD941;
    color: #000000;
    display: flex;
    align-items: bottom;
    justify-content: center;
    border: none;
}


/* Магазин и Книга */

.more {height: 41vw; margin-top: -0.2vw;}

.spaceM {height: 16.5vw;}

.bookMG {margin-top: 0.15vw;}

.bookM {height: 24.2vw;}



