/* .title{
    width: 33.2vw;
    height: 16.6vw;
    border: 0.3vw solid #DB284D;
    color: #DB284D;
    background-color: #ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
}

.description{
    width: 33.2vw;
    height: 33.2vw;
    border: 0.3vw solid #DB284D;
    color: #000000;
    background-color: #FBD941;
    display: grid;
    justify-items: center;
    align-items: center;
}

.PicGame{
    width: 33.2vw;
    height: 33.2vw;
    border: 0.3vw solid #DB284D;
    background-color: #ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
}

.PicPoster1{
    width: 16.6vw;
    height: 24.9vw;
    border: 0.3vw solid #DB284D;
    background-color: #ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
}

.PicPoster2{
    width: 16.6vw;
    height: 24.9vw;
    border: 0.3vw solid #DB284D;
    background-color: #ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
}

.Pic3d{
    width: 33.2vw;
    height: 16.6vw;
    border: 0.3vw solid #DB284D;
    background-color: #ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
}

.PicBook{
    width: 33.2vw;
    height: 24.9vw;
    border: 0.3vw solid #DB284D;
    background-color: #ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
} */