/* Меню */

#menu3_3 {
    height: 8vw;
    color: #ffffff;
    background-color: #DB284D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#menu1_3, #menu2_3, #menu4_3, #menu5_3, #menu6_3 {
    height: 8vw;
    color: #2A4378;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


/* Основное */

.filling_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4fr;
    gap: 0.3vw;
    border-top: 0.3vw solid #DB284D;
    border-bottom: 0.3vw solid #DB284D;
    background-color: #DB284D;
}


/* Пространство */

.PicspaceMockup {
    height: 24.95vw;
    display: flex;
    align-items: center;
    justify-content: center;
}